body {
    background-image: url('../Imagenes/img_fondoOpciones.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /* Fija la imagen de fondo */
    font-family: "Protest Revolution", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.Container{
    width: 100%;
    display: flex;
    justify-content: space-between; /* Espacio entre los elementos */
    align-items: center; /* Centrar verticalmente los elementos */
}

.Container_btn{
    margin-left: 8%;
    height: 100%;
}

input{
    width: 100%;
    margin-bottom: 5%;
    text-align: center;
    max-width: 200px;
    background-color: #ffffff;
    padding: 10px;
    border: 0;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    align-items: center;
    border-radius: 20px;
    font-family: "Protest Revolution", sans-serif;
    font-weight: 1000;
    font-style: normal;
    transform: translateX(-50%); /* Ajustamos la posición horizontal en base a la mitad del ancho del elemento */
    transition: all 0.3s; /* Transición suave para todos los cambios */
}

input:hover{
    transform: translateY(-3px); /* Desplazar hacia arriba para efecto 3D */
    background: #000000;
    color: #fff;
    box-shadow: 0 8px 20px rgba(153, 0, 255, 0.5); /* Sombra más pronunciada */
    cursor: pointer;
}

.Container_Interfaz{
    width: 20%;
    margin-left: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar horizontalmente los botones */
}

.Container_Interfaz img{
    width: 300px;
}






