html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.protest-revolution-regular {
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
}  

body {
    background-image: url(../Imagenes/img_fondoPuntuaciones.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /* Fija la imagen de fondo */
    font-family: "Protest Revolution", sans-serif;
}

.Container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar horizontalmente */
    /*justify-content: center; /* Centrar verticalmente */
    height: 100vh; /* Para ocupar toda la altura de la ventana */
}

.logo-juego{
    margin-top: 2%;
    margin-left: 10%;
    height: auto; /* Altura automática para mantener la proporción */
    margin-bottom: 5%;
}

.Container_resultados{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centrar horizontalmente los botones */
    gap: 20%; /* Espacio entre los botones */
}

.Container_jugador{
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar horizontalmente los botones */
}

input{ 
    width: 750px;
    margin-bottom: 5%;
    text-align: center;
    max-width: 300px;
    background-color: #ffffff;
    padding: 15px;
    border: 0;
    color: #000;
    font-size: 30px;
    text-transform: uppercase;
    align-items: center;
    border-radius: 20px;
    font-family: "Protest Revolution", sans-serif;
    font-weight: 1000;
    font-style: normal;
}

.Container_btn{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centrar horizontalmente los botones */
    gap: 15%; /* Espacio entre los botones */
}

#btn_PuntuacionesTop:hover,
#btn_MenuInicial:hover{
    transform: translateY(-3px); /* Desplazar hacia arriba para efecto 3D */
    background: #000000;
    color: #fff;
    box-shadow: 0 8px 20px rgba(153, 0, 255, 0.5); /* Sombra más pronunciada */
    cursor: pointer;
}